@CHARSET "ISO-8859-1";

.loading-dialog {
	background-color: none !important;
	background-image: url("images/loader.gif");
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	height: 100px;
	border: none;
}