<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>outputFolder</param-name>
		<param-value>.ipscrum</param-value>
		<description>Describes where the output files are stored. This folder needs write permissions for servlet container.</description>
	</context-param>

	<!-- Servlets -->
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>fhdw.ipscrum.server.services.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HeartBeatService</servlet-name>
		<servlet-class>fhdw.ipscrum.server.services.HeartBeatServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransactionService</servlet-name>
		<servlet-class>fhdw.ipscrum.server.services.TransactionServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReceiveModelService</servlet-name>
		<servlet-class>fhdw.ipscrum.server.services.ReceiveModelServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AccountService</servlet-name>
		<servlet-class>fhdw.ipscrum.server.services.AccountServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InitService</servlet-name>
		<servlet-class>fhdw.ipscrum.server.services.InitServiceImpl</servlet-class>
	</servlet>
	
	<!-- ServletMappings  -->
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/ipscrum/LoginService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HeartBeatService</servlet-name>
		<url-pattern>/ipscrum/HeartBeatService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>TransactionService</servlet-name>
		<url-pattern>/ipscrum/TransactionService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ReceiveModelService</servlet-name>
		<url-pattern>/ipscrum/ReceiveModelService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AccountService</servlet-name>
		<url-pattern>/ipscrum/AccountService</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>InitService</servlet-name>
		<url-pattern>/ipscrum/InitService</url-pattern>
	</servlet-mapping>
	
	<session-config><session-timeout>30</session-timeout></session-config>	
	
	
	<welcome-file-list>
		<welcome-file>IpScrum.html</welcome-file>
	</welcome-file-list>
</web-app>
